@page {
    @bottom-center {
        vertical-align: middle;
        height: max-content;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        content: "Page " counter(page) " of " counter(pages);
      }
}

@media screen {
    #paper {
        width: fit-content;
        justify-self: center;
        justify-content: center;
        margin: 12px;
    }
    .narrow-col {
        column-width: 50mm;
        column-gap: 10mm;
        column-fill: balance;
    }
}

@media print {
    .pagebreak {
        break-before: page;
    }

    /* break-after works, as well */
    .no-print {
        display: none;
    }

    .two-col {
        column-count: 2;
        column-gap: 20px;
        column-fill: auto;
    }

    .b4-port-col {
        column-width: 320mm;
        /* column-count: 2;*/
        column-gap: 20mm;
        column-fill: auto;
    }

    .b5-port-col {
        column-width: 158mm;
        column-gap: 18mm;
        column-fill: auto;
    }

    .narrow-col {
        column-width: 50mm;
        column-gap: 10mm;
        column-fill: auto;
    }

    #paper {
        width: 100%;
        justify-self: center;
        justify-content: center;
    }
}

.b5-port-col > p {
    margin: 9pt;
}

li {
    list-style-type: none;
}

.q-inplace{
    color: black;
    white-space: pre;
    display: inline-block;
}

.q-inplace-choice {
    vertical-align: text-top;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
    min-width: 15mm;
}

.q-inplace-slot {
    vertical-align: text-top;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
}

.q-inplace-match {
    vertical-align: text-top;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
    min-width: 15mm;
}

.q-inplace-askinfo {
    vertical-align: text-top;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
    min-width: 15mm;
}

.q-inplace-inplace {
    color: black;
    white-space: pre;
}

.a-inplace-space {
    color: rgb(208, 17, 17);
    font-weight: bold;
    margin-left: 1.5mm;
    margin-right: 1.5mm;
}

.a-inplace-inplace {
    color: rgb(208, 17, 17);
    font-weight: bold;
}

.q-apart-inplace {
    vertical-align: text-top;
    color: black;
    white-space: pre;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
}

.a-apart-inplace {
    color: rgb(208, 17, 17);
    font-weight: bold;
}

.a-front {
    color: rgb(208, 17, 17);
    font-weight: bold;
    margin-left: 1.5mm;
    margin-right: 1.5mm;
}

.a-block {
    color: rgb(208, 17, 17);
    font-weight: bold;
    margin-left: 1.5mm;
    margin-right: 1.5mm;
}

.a-front-option {
    color: rgb(208, 17, 17);
    font-weight: bold;
}

.a-inplace-option {
    color: rgb(208, 17, 17);
    font-weight: bold;
}

.a-block-option {
    color: rgb(208, 17, 17);
    font-weight: bold;
}

.a-full {
    color: darkcyan;
    font-weight: bold;
    font-style: italic;
}

ul.option-list {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    column-gap: 5mm;
}

ul.option-list > li {
    display: inline-block;
}

.line-indent {
    /* text-indent: 2cm; */
    line-height: 2mm;
}

.no-height {
    line-height: 0;
    margin: 0;
}

.q-front-choice {
    display: inline-block;
    min-width: 25mm;
}

.q-front-slot {
    display: inline-block;
    min-width: 4cm;
}

.q-front-match {
    display: inline-block;
    min-width: 25mm;
}

.left-qi {
    display: inline-block;
    min-width: 12mm;
}

.qi-left {
    display: inline-block;
    min-width: 12mm;
}

.mid-answer-slot {
    vertical-align: bottom;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
    min-width: 10mm;
    margin-right: 3mm;
    text-align: center;
}

.big-answer-slot {
    vertical-align: bottom;
    border-bottom: 1.5px black solid;
    display: inline-block;
    padding-bottom: 1px;
    min-width: 50mm;
    margin-right: 3mm;
    text-align: center;
}

mark {
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    display: inline-block;
    margin: 1px;
}

.box>* {
    border: 1px solid black;
    background-color: rgb(96 139 168 / 0.2);
    width: 200px;
    margin-top: 0px;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-right: -1px;
}

.box {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    border-radius: 0px;
}

input[type=number] {
    width: 80px;
}

#title-input {
    width: 400px;
    max-width: 100%;
}

.option-hint {
    padding: 2px;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

.no-print {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    padding: 10px;
    margin: 15px;
    border-radius: 12px;
}